---
layout: services
permalink: /productos/cognitive
---

<!-- Slider -->
{% include slider_cognitives.html %}

<!-- Content -->
<div id="test" class="post section-padding">
  <div class="container">

    <div class="section-title">
      <!-- <p class="wow fadeIn"><small>Pruebe nuestras apis de procesamiento de texto</small></p> -->
      <h2 class="wow fadeIn" data-wow-delay="0.25s">Text Analytics API</h2>
      <span class="wow fadeIn" data-wow-delay="0.5s"></span>
      <p class="wow fadeIn" data-wow-delay="0.75s">Obtenga valiosa informacion del texto</p>
    </div>

    <div class="row">
      <div class="wow fadeIn" data-wow-delay="0.75s">
        <div class="pd_long bg_gris">
          <textarea id="sample_text" name="text" class="demo_text_area" placeholder="Ingrese un texto" maxlength="512"></textarea>
          <button id="analize_text" type="button" class="btn btn-contact btn-submit" name="do">Analizar</button>
          <br>
          <h6>Quedan <span id="rchars">512</span> Caracteres</h6>
        </div>
      </div>
    </div>
    <br />
    <script type="text/template" class="tmpl_render_text_result">

      <div class="row">
        <div class="chart_card col-md-12 wow fadeIn">
          <div class="is_chart">
            <h1>Author</h1>
            <div class="influencer_box">
              <div class="row">
                <div class="chart_card col-md-2 wow bounceInUp" data-wow-delay="0.25s">
                  <h1>Edad Relativa</h1>
                  <div class="bubble_metrics">
                    <i class="icofont icofont-birthday-cake"></i>
                    <div class="tag">
                      <% if(items.clf_age == 'mas25') { %>
                        &plus; 25
                      <% } else { %>
                        &minus; 25
                      <% } %>
                    </div>
                  </div>
                </div>
                <div class="chart_card col-md-2 wow bounceInUp" data-wow-delay="0.50s">

                  <h1>G&eacute;nero</h1>
                  <div class="bubble_metrics">
                    <i class="icofont icofont-users-alt-4"></i>
                    <div class="tag">
                      <% if(items.clf_gender_float_obj.value == 0) { %>
                        &#63;&#63;&#63;
                      <% } else { %>
                        <%=items.clf_gender_float_obj.value %>&#37;
                        <%=items.clf_gender_float_obj.gender %>
                      <% } %>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="chart_card col-md-12 wow fadeIn">
          <div class="is_chart">
            <h1>Gram&aacute;tica</h1>
            <div class="influencer_box">
              <div class="row">
                <div class="chart_card col-md-2 wow bounceInUp" data-wow-delay="0.25s">
                  <h1>Genero</h1>
                  <div class="bubble_metrics">
                    <i class="icofont icofont-users-alt-4"></i>
                    <div class="tag">
                      <% if(items.tag_gender == 'f') { %>
                        Femenino
                      <% } else if(items.tag_gender == 'm') { %>
                        Masculino
                      <% } else { %>
                        Desconocido
                      <% } %>
                    </div>
                  </div>
                </div>
                <div class="chart_card col-md-2 wow bounceInUp" data-wow-delay="0.50s">
                  <h1>Tiempo</h1>
                  <div class="bubble_metrics">
                    <i class="icofont icofont-clock-time"></i>
                    <div class="tag">
                      <%=items.tag_tense.join(', ') %>
                    </div>
                  </div>
                </div>
                <div class="chart_card col-md-2 wow bounceInUp" data-wow-delay="0.75s">
                <h1>N&uacute;mero</h1>
                <div class="bubble_metrics">
                  <i class="icofont icofont-listing-number"></i>
                  <div class="tag">
                    <%=items.tag_number.join(', ') %>
                  </div>
                </div>
                </div>
                <div class="chart_card col-md-2 wow bounceInUp" data-wow-delay="1s">
                <h1>Posesivos</h1>
                <div class="bubble_metrics">
                  <i class="icofont icofont-street-view"></i>
                  <div class="tag">
                    <% if(items.tag_poss) { %>
                      Sí
                    <% } else { %>
                      No
                    <% } %>
                  </div>
                </div>
                </div>
                <div class="chart_card col-md-2 wow bounceInUp" data-wow-delay="1.25s">
                <h1>Persona</h1>
                <div class="bubble_metrics">
                  <i class="icofont icofont-users"></i>
                  <div class="tag">
                    <%=items.tag_person.join('&deg;, ') %>&deg;
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="chart_card col-md-12 wow fadeIn">
          <div class="is_chart">
            <h1>Sentimiento</h1>
            <div class="influencer_box">
              <div class="row">
                <div class="chart_card col-md-2 wow bounceInUp" data-wow-delay="0.25s">
                  <h1>Polaridad</h1>
                  <div class="bubble_metrics">
                    <i class="icofont icofont-dashboard"></i>
                    <div class="tag">
                      <%=items.clf_sentiment %>
                    </div>
                  </div>
                </div>
                <div class="chart_card col-md-2 wow bounceInUp" data-wow-delay="0.50s">
                  <h1>Enojo</h1>
                  <div class="bubble_metrics">
                    <i class="icofont icofont-angry"></i>
                    <div class="tag">
                      <%=items.clf_emotions.scores.mad %>%
                    </div>
                  </div>
                </div>
                <div class="chart_card col-md-2 wow bounceInUp" data-wow-delay="0.75s">
                  <h1>Alegría</h1>
                  <div class="bubble_metrics">
                    <i class="icofont icofont-laughing"></i>
                    <div class="tag">
                      <%=items.clf_emotions.scores.glad %>%
                    </div>
                  </div>
                </div>
                <div class="chart_card col-md-2 wow bounceInUp" data-wow-delay="1s">
                  <h1>Tristeza</h1>
                  <div class="bubble_metrics">
                    <i class="icofont icofont-crying"></i>
                    <div class="tag">
                      <%=items.clf_emotions.scores.sad %>%
                    </div>
                  </div>
                </div>
                <div class="chart_card col-md-2 wow bounceInUp" data-wow-delay="1.25s">
                  <h1>Miedo</h1>
                  <div class="bubble_metrics">
                    <i class="icofont icofont-worried"></i>
                    <div class="tag">
                      <%=items.clf_emotions.scores.scared %>%
                    </div>
                  </div>
                </div>
                <div class="chart_card col-md-2 wow bounceInUp" data-wow-delay="1.50s">
                  <h1>Neutral</h1>
                  <div class="bubble_metrics">
                    <i class="icofont icofont-expressionless"></i>
                    <div class="tag">
                      <%=items.clf_emotions.scores.neutral %>%
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </script>
    <div class="row" id="result"></div>
  </div>
</div>
