<div class="footer section-padding">
  <div class="container">
    <div class="row">
      <div class="footer_logo text-center wow fadeIn">
        <strong>LOGOS.</strong>TECH
      </div>
      <div class="footer_social text-center wow fadeIn" data-wow-delay="0.5s">
        <ul>
          <li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
          <li><a href="#"><i class="icofont icofont-social-twitter"></i></a></li>
          <li><a href="#"><i class="icofont icofont-social-google-plus"></i></a></li>
          <li><a href="#"><i class="icofont icofont-brand-linkedin"></i></a></li>
          <li><a href="#"><i class="icofont icofont-brand-youtube"></i></a></li>
        </ul>
      </div>

      <div class="col-md-12 wow fadeIn" data-wow-delay="1s">
        <p class="text-center"><small>Copyright <i class="icofont icofont-copyright"></i> Logos.Technology 2018.</small></p>
      </div>
    </div>
  </div>
</div>
