<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="index,follow" />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@{{ site.twitter_username }}">
  <meta name="twitter:creator" content="@{{ site.twitter_username }}">
  <meta name="twitter:title" content="{{ page.title }}" />
  <meta name="twitter:description" content="{{ page.excerpt | remove: '<p>' | remove: '</p>' | strip }}" />
  <meta name="twitter:image:src" content="{{ "/assets/img/archivo/" | append: page.image | prepend: site.url }}" />
  <meta name="twitter:domain" content="{{ site.url }}">


  <meta property="og:locale" content="es_ES" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:description" content="{{ page.excerpt | remove: '<p>' | remove: '</p>' | strip }}" />
  <meta property="og:url" content="{{ page.url | prepend: site.url }}" />
  <meta property="og:site_name" content="{{ site.name }}" />
  <meta property="article:publisher" content="https://www.facebook.com/{{ site.facebook_page }}/" />
  <meta property="article:published_time" content="{{ post.date | date: "%b %-d, %Y" }}" />
  <meta property="og:image:width" content="450" />
  <meta property="og:image:height" content="350" />
  <meta property="og:image" content="{{ "/assets/img/archivo/" | append: page.image | prepend: site.url }}" />
  <meta property="og:image:secure_url" content="{{ "/assets/img/archivo/" | append: page.image | prepend: site.url }}" />

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="{{ "/assets/img/common/favicon.png" | prepend: site.baseurl }}">

  <!-- Canonical -->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <!-- Title -->
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <!-- Description -->
  <meta name="description" content="{{ site.description }}">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/bootstrap.min.css" | prepend: site.baseurl }}">

  <!-- Normalize CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/normalize.css" | prepend: site.baseurl }}">

  <!-- Icofont CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/icofont.css" | prepend: site.baseurl }}">

  <!-- Owl Carousel CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/owl.carousel.css" | prepend: site.baseurl }}">

  <!-- Animate CSS-->
  <link rel="stylesheet" href="{{ "/assets/css/animate.css" | prepend: site.baseurl }}">

  <!-- Magnific Popup -->
  <link rel="stylesheet" href="{{ "/assets/css/magnific-popup.css" | prepend: site.baseurl }}">

  <!-- Chartis JS CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/introjs.min.css" | prepend: site.baseurl }}">
  <!-- <link rel="stylesheet" href="{{ "/assets/css/introjs-modern.css" | prepend: site.baseurl }}"> -->

  <!-- IntroJs CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/chartist.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/chartist-plugin-tooltip.css" | prepend: site.baseurl }}">

  <!--  Main CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | prepend: site.baseurl }}">

  <!--  Main CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/timeline.css" | prepend: site.baseurl }}">

  <!--  Responsive CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/responsive.css" | prepend: site.baseurl }}">

</head>
