<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="index,follow" />

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="{{ "/assets/img/common/favicon.png" | prepend: site.baseurl }}">

  <!-- Canonical -->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <!-- Title -->
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <!-- Description -->
  <meta name="description" content="{{ site.description }}">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/bootstrap.min.css" | prepend: site.baseurl }}">

  <!-- Normalize CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/normalize.css" | prepend: site.baseurl }}">

  <!-- Icofont CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/icofont.css" | prepend: site.baseurl }}">

  <!-- Owl Carousel CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/owl.carousel.css" | prepend: site.baseurl }}">

  <!-- Animate CSS-->
  <link rel="stylesheet" href="{{ "/assets/css/animate.css" | prepend: site.baseurl }}">

  <!-- Magnific Popup -->
  <link rel="stylesheet" href="{{ "/assets/css/magnific-popup.css" | prepend: site.baseurl }}">

  <!-- Chartis JS CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/introjs.min.css" | prepend: site.baseurl }}">
  <!-- <link rel="stylesheet" href="{{ "/assets/css/introjs-modern.css" | prepend: site.baseurl }}"> -->

  <!-- IntroJs CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/chartist.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/chartist-plugin-tooltip.css" | prepend: site.baseurl }}">

  <!--  Main CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | prepend: site.baseurl }}">

  <!--  Main CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/timeline.css" | prepend: site.baseurl }}">

  <!--  Responsive CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/responsive.css" | prepend: site.baseurl }}">

</head>
