<!-- Top Info Header -->
<div class="top-header" id="top-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <ul class="list-inline social">
          <li><a target="_blank" href="https://www.facebook.com/{{ site.facebook_page }}"><i class="icofont icofont-social-facebook"></i></a></li>
          <li><a target="_blank" href="https://twitter.com/{{ site.twitter_username }}"><i class="icofont icofont-social-twitter"></i></a></li>
          <li><a href="#"><i class="icofont icofont-social-skype"></i></a></li>
        </ul>
      </div>
      <div class="col-sm-10">
        <ul class="list-inline contact-min text-right">
          <li><i class="icofont icofont-mobile-phone"></i> {{ site.contact_phone }}</li>
          <li><i class="icofont icofont-at"></i> {{ site.email }}</li>
          <li><i class="icofont icofont-location-pin"></i> {{ site.location }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- /Top Info Header -->

<!-- Navbar -->
<div id="header" class="header">
  <div class="container">
    <!-- Navigation starts -->
    <div class="navbar">
      <div class="navbar-header">
        <a id="brand" class="navbar-brand logo" href="{{ site.baseurl }}/">
          <span class="brand_text">
            <strong>LOGOS.</strong>TECH
          </span>
        </a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="navbar-collapse collapse">
        <nav>
          <ul class="nav navbar-nav navbar-right text-uppercase">
            {% assign prefix = '' %}
            {% assign class = 'smooth_scroll' %}
            {% unless page.url == '/' %}
              {% assign class = '' %}
              {% assign prefix = '../' %}
            {% endunless %}
            <li><a class="{{ class }}" href="{{ prefix }}#top-header">Inicio</a></li>
            <li><a class="{{ class }}" href="{{ prefix }}#services">Servicios</a></li>
            <li><a class="{{ class }}" href="{{ prefix }}#pricing">Precios</a></li>
            <li><a class="{{ class }}" href="{{ prefix }}#portfolio">Portafolio</a></li>
            <li><a class="{{ class }}" href="{{ prefix }}#team">Equipo</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a class="{{ class }}" href="#contact">Contacto</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- Navigation ends -->
  </div>
</div>
<!-- /Navbar -->
