<div class="partners section-padding">
  <div class="container">
    <div class="row">

      <!-- Client Carousel -->
      <div class="partner">

        <!-- Item One -->
        <div class="item wow fadeIn" data-wow-delay="0.1s">
          <img src="assets/img/clients/1.png" alt="">
        </div>

        <!-- Item Two -->
        <div class="item wow fadeIn" data-wow-delay="0.2s">
          <img src="assets/img/clients/2.png" alt="">
        </div>

        <!-- Item Three -->
        <div class="item wow fadeIn" data-wow-delay="0.3s">
          <img src="assets/img/clients/3.png" alt="">
        </div>

        <!-- Item Four -->
        <div class="item wow fadeIn" data-wow-delay="0.4s">
          <img src="assets/img/clients/4.png" alt="">
        </div>

        <!-- Item Five -->
        <div class="item wow fadeIn" data-wow-delay="0.5s">
          <img src="assets/img/clients/5.png" alt="">
        </div>

        <!-- Item Six -->
        <div class="item wow fadeIn" data-wow-delay="0.6s">
          <img src="assets/img/clients/6.png" alt="">
        </div>

        <!-- Item Seven -->
        <div class="item wow fadeIn" data-wow-delay="0.7s">
          <img src="assets/img/clients/7.png" alt="">
        </div>

        <!-- Item Eight -->
        <div class="item wow fadeIn" data-wow-delay="0.8s">
          <img src="assets/img/clients/8.png" alt="">
        </div>

        <!-- Item Nine -->
        <div class="item wow fadeIn" data-wow-delay="0.9s">
          <img src="assets/img/clients/9.png" alt="">
        </div>

      </div>
    </div>
  </div>
</div>
<!-- /Partners -->
