<!-- Portfolio -->
<div id="portfolio" class="portfolio section-padding no-padding-bottom">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <p class="wow fadeIn"><small>Lorem ipsum dolor sit amet</small></p>
        <h2 class="wow fadeIn" data-wow-delay="0.25s">Latest works</h2>
        <span class="wow fadeIn" data-wow-delay="0.5s"></span>
        <p class="wow fadeIn" data-wow-delay="0.75s">Lorem ipsum dolor sit amet consectetur adipisicing elitsed eiusmod tempor enim minim veniam quis notru exercit ation Lorem ipsum dolor sit amet.Veniam quis notru exercit.</p>
      </div>
      <div class="col-md-4 col-sm-6 no-padding wow zoomIn">
        <a href="assets/img/portfolio/one.jpg" class="grid-item">
          <img src="assets/img/portfolio/one.jpg" class="img-responsive img-full" alt="Portfolio item">
          <div class="portfolio-overlay">
            <div class="portfolio-overlay-text">
              <h3>Label tags</h3>
              <ul class="list-inline">
                <li>App</li>
                <li>Web</li>
              </ul>
            </div><!-- /portfolio-overlay-text -->
          </div><!-- /portfolio-overlay -->
        </a>
      </div><!-- /col-md-4 -->
      <div class="col-md-4 col-sm-6 no-padding wow zoomIn">
        <a href="assets/img/portfolio/two.jpg" class="grid-item">
          <img src="assets/img/portfolio/two.jpg" class="img-responsive img-full" alt="Portfolio item">
          <div class="portfolio-overlay">
            <div class="portfolio-overlay-text">
              <h3>Book</h3>
              <ul class="list-inline">
                <li>App</li>
                <li>Web</li>
              </ul>
            </div><!-- /portfolio-overlay-text -->
          </div><!-- /portfolio-overlay -->
        </a>
      </div><!-- /col-md-4 -->
      <div class="col-md-4 col-sm-6 no-padding wow zoomIn">
        <a href="assets/img/portfolio/three.jpg" class="grid-item">
          <img src="assets/img/portfolio/three.jpg" class="img-responsive img-full" alt="Portfolio item">
          <div class="portfolio-overlay">
            <div class="portfolio-overlay-text">
              <h3>Juice Bootle</h3>
              <ul class="list-inline">
                <li>App</li>
                <li>Web</li>
              </ul>
            </div><!-- /portfolio-overlay-text -->
          </div><!-- /portfolio-overlay -->
        </a>
      </div><!-- /col-md-4 -->
      <div class="col-md-4 col-sm-6 no-padding wow zoomIn">
        <a href="assets/img/portfolio/four.jpg" class="grid-item">
          <img src="assets/img/portfolio/four.jpg" class="img-responsive img-full" alt="Portfolio item">
          <div class="portfolio-overlay">
            <div class="portfolio-overlay-text">
              <h3>Spa things</h3>
              <ul class="list-inline">
                <li>App</li>
                <li>Web</li>
              </ul>
            </div><!-- /portfolio-overlay-text -->
          </div><!-- /portfolio-overlay -->
        </a>
      </div><!-- /col-md-4 -->
      <div class="col-md-4 col-sm-6 no-padding wow zoomIn">
        <a href="assets/img/portfolio/five.jpg" class="grid-item">
          <img src="assets/img/portfolio/five.jpg" class="img-responsive img-full" alt="Portfolio item">
          <div class="portfolio-overlay">
            <div class="portfolio-overlay-text">
              <h3>Vinyl</h3>
              <ul class="list-inline">
                <li>App</li>
                <li>Web</li>
              </ul>
            </div><!-- /portfolio-overlay-text -->
          </div><!-- /portfolio-overlay -->
        </a>
      </div><!-- /col-md-4 -->
      <div class="col-md-4 col-sm-6 no-padding wow zoomIn">
        <a href="assets/img/portfolio/six.jpg" class="grid-item">
          <img src="assets/img/portfolio/six.jpg" class="img-responsive img-full" alt="Portfolio item">
          <div class="portfolio-overlay">
            <div class="portfolio-overlay-text">
              <h3>Paper cup</h3>
              <ul class="list-inline">
                <li>App</li>
                <li>Web</li>
              </ul>
            </div><!-- /portfolio-overlay-text -->
          </div><!-- /portfolio-overlay -->
        </a>
      </div><!-- /col-md-4 -->
    </div>
  </div>
</div>
<!-- /Portfolio -->
