<div id="pricing" class="pricing section-padding">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <p class="wow fadeIn"><small>Lorem ipsum dolor sit amet</small></p>
        <h2 class="wow fadeIn" data-wow-delay="0.25s">Populer Pricing</h2>
        <span class="wow fadeIn" data-wow-delay="0.5s"></span>
        <p class="wow fadeIn" data-wow-delay="0.75s">Lorem ipsum dolor sit amet consectetur adipisicing elitsed eiusmod tempor enim minim veniam quis notru exercit ation Lorem ipsum dolor sit amet.Veniam quis notru exercit.</p>
      </div>
      <div class="col-md-6">
        <div class="pricing_table wow fadeInUp">
          <div class="pricing_top">
            <div class="pricing-price">
              <p><span>$</span>0.<sup>00</sup></p>
              <h6>Starter</h6>
            </div>
            <div class="pricing-price">
              <button class="btn btn-price">Buy Now</button>
            </div>
          </div>
          <div class="pricing_middle">
            <p><small>40% off</small></p>
            <h3>Weekly Package</h3>
            <ul>
              <li>10GB Disk Space</li>
              <li>100GB Bandwidth</li>
              <li>Free DDoS Protection</li>
              <li>Free Daily Backups</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="pricing_table wow fadeInUp" data-wow-delay="0.5s">
          <div class="pricing_top">
            <div class="pricing-price">
              <p><span>$</span>8.<sup>95</sup></p>
              <h6>Starter</h6>
            </div>
            <div class="pricing-price">
              <button class="btn btn-price">Buy Now</button>
            </div>
          </div>
          <div class="pricing_middle">
            <p><small>40% off</small></p>
            <h3>Weekly Package</h3>
            <ul>
              <li>10GB Disk Space</li>
              <li>100GB Bandwidth</li>
              <li>Free DDoS Protection</li>
              <li>Free Daily Backups</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Pricing -->
