<!-- TEMPLATE ZONE -->
<script type="text/template" class="tmpl_render_words_sent">
  <% _.each( items, function( item ){ %>
    <div class="row mg_bottom">
      <div class="col-md-6">
        <a href="<%- item.href %>" target="_blank">
          <h3><%- item.key %></h3>
        </a>
      </div>
      <div class="col-md-6">
        <div class="indicator">
          <span class="bg_a" style="width:<%- item.scores[0] %>%"></span>
          <span class="bg_b" style="width:<%- item.scores[1] %>%"></span>
          <span class="bg_c" style="width:<%- item.scores[2] %>%"></span>
        </div>
      </div>
    </div>
  <% }); %>
</script>

<script type="text/template" class="tmpl_top_influencers">
  <div class="row">
  <% _.each( items, function( item ){ %>
    <div class="col-xs-6 col-md-2 mg_bottom_1">
      <img data-src="https://avatars.io/twitter/<%- item.account %>" width="80" height="80">
      <a href="<%- item.href %>" target="_blank">
        <h3><%- item.key %></h3>
      </a>
      <span class="badge badge-pill bg_a">
        <i class="icofont icofont-users-social"></i>
        <%- item.score %>
      </span>
    </div>
  <% }); %>
  </div>
</script>

<script type="text/template" class="tmpl_timeline">
  <% _.each( items, function( item, index ){ %>
    <li class="<%= (index % 2 == 0) ? '' : 'timeline-inverted' %> wow fadeIn" data-wow-delay="0.75s">
      <div
        class="timeline-badge <%- item.color %>"
        <% if(index == 0) { %>
          data-intro="Mayor Porcentaje de sentimiento en el dia, el color determina el sentimiento"
        <% } %>
        >
        <span class="percent"><%- item.max_score %>&#37;</span>
      </div>
      <div
        class="timeline-panel <%= (item.important) ? 'black' : '' %>"
        <% if(index == 0) { %>
          data-intro="Si el color de fondo es oscuro, este dia fue muy importane"
        <% } %>
        >
        <div
          class="indicator"
          <% if(index == 0) { %>
            data-intro="Distribuci&oacute;n del sentimiendo del d&iacute;a"
          <% } %>
        >
          <span class="bg_a" style="width:<%- item.scores[0] %>%"></span>
          <span class="bg_b" style="width:<%- item.scores[1] %>%"></span>
          <span class="bg_c" style="width:<%- item.scores[2] %>%"></span>
        </div>
        <div
          class="timeline-heading"
          <% if(index == 0) { %>
            data-intro="Palabras destacadas, fecha y cantidad de muestras recolectadas"
          <% } %>
          >
          <h4 class="timeline-title"><%- item.words.join(', ') %></h4>
          <p><small class="text-muted"><%- item.date %> | <%- item.total %> Muestras</small></p>
        </div>
        <div
          class="timeline-body"
          <% if(index == 0) { %>
            data-intro="Tweet o Comentario m&aacute;s destacado del d&iacute;a"
          <% } %>
          >
          <p><%- item.sample %></p>
        </div>
        <div
          class="timeline-influencers"
          <% if(index == 0) { %>
            data-intro="Cuentas de Twitter m&aacute;s influyentes en esta fecha"
          <% } %>
          >
          <ul>
          <% _.each( item.influencers, function( item ){ %>
            <li>
              <a href="<%- item.href %>" target="_blank">
                <img alt="@" data-src="https://avatars.io/twitter/<%- item.account %>" width="40" height="40">
              </a>
            </li>
          <% }); %>
          </ul>
        </div>
      </div>
    </li>
  <% }); %>
</script>

<!-- TEMPLATE ZONE -->

<div class="row">
  <div
    class="chart_card col-md-12 wow fadeIn"
    data-wow-delay="0.75s"
    data-intro="Muestra la cantidad de datos acumulados por Día"
    >
    <div class="is_chart">
      <h1 data-intro="Cantidad de muestras (tweets, comentarios, noticias) que se han obtenido en este periodo">
        <span class="samples_count">0</span> Muestras Analizadas
        <a href="javascript:void(0)" id="startTour" class="right">
          <i class="icofont icofont-life-ring"></i>
        </a>
      </h1>
      <div class="ct-chart ct-major-tenth" id="chart1"></div>
      <h2 data-intro="Rango de fechas que abarca este reporte">
        Desde el <span id="range_from">*</span> Hasta <span id="range_to">*</span>
      </h2>
    </div>
  </div>
</div>
<div class="row">
  <div
    class="chart_card col-md-4 wow fadeIn"
    data-wow-delay="0.75s"
    data-intro="Logos AGE: Detecta el rango de edad mediante la escritura. *Experimental">
    <div class="is_chart">
      <h1>
        Edad
        <!-- <i class="icofont icofont-birthday-cake right"></i> -->
      </h1>
      <div class="metrics">
        <span class="badge badge-pill bg_a">&plus;25</span>
        <span class="badge badge-pill bg_b">&minus;25</span>
      </div>
      <div class="ct-chart ct-minor-seventh" id="chart4"></div>
    </div>
  </div>

  <div
    class="chart_card col-md-4 wow fadeIn"
    data-wow-delay="0.75s"
    data-intro="Logos Gender: Detecta el genero de la persona en base al Nombre de Usuario"
    >
    <div class="is_chart">
      <h1>
        Genero
        <!-- <i class="icofont icofont-dna-alt-2 right"></i> -->
      </h1>
      <div class="metrics">
        <span class="badge badge-pill bg_a">Hombres</span>
        <span class="badge badge-pill bg_b">Mujeres</span>
      </div>
      <div class="ct-chart ct-minor-seventh" id="chart5"></div>
    </div>
  </div>

  <div
    class="chart_card col-md-4 wow fadeIn"
    data-wow-delay="0.75s"
    data-intro="Distribucion de polaridad contextual del contenido de las muestras"
    >
    <div class="is_chart">
      <h1>
        Sentimiento
        <!-- <i class="icofont icofont-ui-check right"></i> -->
      </h1>
      <div class="metrics">
        <span class="badge badge-pill bg_a">Negativo</span>
        <span class="badge badge-pill bg_b">Neutral</span>
        <span class="badge badge-pill bg_c">Positivo</span>
      </div>
      <div class="ct-chart ct-minor-seventh" id="chart6"></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="chart_card col-md-6 wow fadeIn" data-wow-delay="0.75s">
    <div class="is_chart">
      <h1>
        Emociones Acumuladas por D&iacute;a
        <!-- <i class="icofont icofont-emo-laughing right"></i> -->
      </h1>
      <div class="metrics">
        <span class="badge badge-pill bg_a">Enojo</span>
        <!-- <span class="badge badge-pill bg_b">Neutral</span> -->
        <span class="badge badge-pill bg_b">Miedo</span>
        <span class="badge badge-pill bg_c">Alegria</span>
        <span class="badge badge-pill bg_d">Tristeza</span>
      </div>
      <div class="ct-chart ct-perfect-fifth" id="chart2"></div>
    </div>
  </div>
  <div class="chart_card col-md-6 wow fadeIn" data-wow-delay="0.75s">
    <div class="is_chart">
      <h1>
        Sentimiento Acumulado por D&iacute;a
        <!-- <i class="icofont icofont-ui-check right"></i> -->
      </h1>
      <div class="metrics">
        <span class="badge badge-pill bg_a">Negativo</span>
        <span class="badge badge-pill bg_b">Neutral</span>
        <span class="badge badge-pill bg_c">Positivo</span>
      </div>
      <div class="ct-chart ct-perfect-fifth" id="chart3"></div>
    </div>
  </div>
</div>
<div class="row">
  <div
    class="chart_card col-md-12 wow fadeIn"
    data-wow-delay="0.75s"
    data-intro="Cuentas de las personas mas influyentes (mayor cantidad de followers), que comentaron el tema por lo menos 1 vez."
    >
    <div class="is_chart">
      <h1>
        influenciadores
        <!-- <i class="icofont icofont-social-wechat right"></i> -->
      </h1>
      <div id="top_influencers" class="influencer_box"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="chart_card col-md-4 wow fadeIn" data-wow-delay="0.75s">
    <div class="is_chart">
      <h1>sentimiento en palabras</h1>
      <div class="metrics">
        <span class="badge badge-pill bg_a">Negativo</span>
        <span class="badge badge-pill bg_b">Neutral</span>
        <span class="badge badge-pill bg_c">Positivo</span>
      </div>
      <div id="sentiment_of_words" class="words_box"></div>
    </div>
  </div>
  <div class="chart_card col-md-4 wow fadeIn" data-wow-delay="0.75s">
    <div class="is_chart">
      <h1>
        sentimiento en Hashtags
        <!-- <i class="icofont icofont-ui-check right"></i> -->
      </h1>
      <div class="metrics">
        <span class="badge badge-pill bg_a">Negativo</span>
        <span class="badge badge-pill bg_b">Neutral</span>
        <span class="badge badge-pill bg_c">Positivo</span>
      </div>
      <div id="sentiment_of_hashtags" class="words_box"></div>
    </div>
  </div>
  <div class="chart_card col-md-4 wow fadeIn" data-wow-delay="0.75s">
    <div class="is_chart">
      <h1>
        sentimiento en menciones
        <!-- <i class="icofont icofont-ui-check right"></i> -->
      </h1>
      <div class="metrics">
        <span class="badge badge-pill bg_a">Negativo</span>
        <span class="badge badge-pill bg_b">Neutral</span>
        <span class="badge badge-pill bg_c">Positivo</span>
      </div>
      <div id="sentiment_of_mentions" class="words_box"></div>
    </div>
  </div>
</div>


<div class="row">
  <div class="chart_card col-md-12 wow fadeIn" data-wow-delay="0.75s">
    <div class="is_chart">
      <h1>
        Timelime
      </h1>
      <ul id="render_timeline" class="timeline"></ul>
    </div>
  </div>
</div>
