<div class="row">
  <div class="chart_card col-md-12 wow fadeIn" data-wow-delay="0.75s">
    <div class="is_chart">
      <h1>
        <span id="samples_count">0</span> Muestras Analizadas
        desde el <span id="range_from">*</span> hasta <span id="range_to">*</span>
      </h1>
      <div class="ct-chart ct-major-tenth" id="chart1"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="chart_card col-md-6 wow fadeIn" data-wow-delay="0.75s">
    <div class="is_chart">
      <h1>Emociones Acumuladas por Dia </h1>
      <div class="metrics">
        <span class="badge badge-pill bg_a">Enojo</span>
        <span class="badge badge-pill bg_b">Neutral</span>
        <span class="badge badge-pill bg_c">Miedo</span>
        <span class="badge badge-pill bg_d">Alegria</span>
        <span class="badge badge-pill bg_e">Tristeza</span>
      </div>
      <div class="ct-chart ct-perfect-fifth" id="chart2"></div>
    </div>
  </div>
  <div class="chart_card col-md-6 wow fadeIn" data-wow-delay="0.75s">
    <div class="is_chart">
      <h1>Sentimiento Acumulado por Dia </h1>
      <div class="metrics">
        <span class="badge badge-pill bg_a">Negativo</span>
        <span class="badge badge-pill bg_b">Neutral</span>
        <span class="badge badge-pill bg_c">Positivo</span>
      </div>
      <div class="ct-chart ct-perfect-fifth" id="chart3"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="chart_card col-md-4 wow fadeIn" data-wow-delay="0.75s">
    <div class="is_chart">
      <h1>Edades</h1>
      <div class="metrics">
        <span class="badge badge-pill bg_a">&plus;25</span>
        <span class="badge badge-pill bg_b">&minus;25</span>
      </div>
      <div class="ct-chart ct-square" id="chart4"></div>
    </div>
  </div>

  <div class="chart_card col-md-4 wow fadeIn" data-wow-delay="0.75s">
    <div class="is_chart">
      <h1>Genero</h1>
      <div class="metrics">
        <span class="badge badge-pill bg_a">Hombres</span>
        <span class="badge badge-pill bg_b">Mujeres</span>
      </div>
      <div class="ct-chart ct-square" id="chart5"></div>
    </div>
  </div>

  <div class="chart_card col-md-4 wow fadeIn" data-wow-delay="0.75s">
    <div class="is_chart">
      <h1>Sentimiento</h1>
      <div class="metrics">
        <span class="badge badge-pill bg_a">Negativo</span>
        <span class="badge badge-pill bg_b">Neutral</span>
        <span class="badge badge-pill bg_c">Positivo</span>
      </div>
      <div class="ct-chart ct-square" id="chart6"></div>
    </div>
  </div>
</div>
