<!-- /Footer -->

<!-- Scroll to Top -->
<a href="#top-header" class="scrollup smooth_scroll"><i class="icofont icofont-swoosh-up"></i></a>
<!-- /Scroll to Top -->

<!-- jQuery -->
<script src="{{ "/assets/js/jquery-1.12.4.min.js" | prepend: site.baseurl }}"></script>

<!-- Bootstrap JS -->
<script src="{{ "/assets/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

<!-- Own Carousel JS -->
<script src="{{ "/assets/js/owl.carousel.min.js" | prepend: site.baseurl }}"></script>

<!-- WOW JS -->
<script src="{{ "/assets/js/wow.js" | prepend: site.baseurl }}"></script>

<!-- MOMENT JS -->
<script src="{{ "/assets/js/moment.min.js" | prepend: site.baseurl }}"></script>

<!-- Magnific Popup -->
<script src="{{ "/assets/js/jquery.magnific-popup.min.js" | prepend: site.baseurl }}"></script>

<!-- Chartist JS -->
<script src="{{ "/assets/js/chartist.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/chartist-plugin-tooltip.min.js" | prepend: site.baseurl }}"></script>

<!-- Underscore JS -->
<script src="{{ "/assets/js/underscore-min.js" | prepend: site.baseurl }}"></script>

<!-- LazyLoad JS -->
<script src="{{ "/assets/js/lazyload.min.js" | prepend: site.baseurl }}"></script>

<!-- Fetchival JS -->
<script src="{{ "/assets/js/fetchival.js" | prepend: site.baseurl }}"></script>

<!-- IntroJS -->
<script src="{{ "/assets/js/intro.min.js" | prepend: site.baseurl }}"></script>

<!-- Main JS -->
<script
  id="main"
  src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"
  data-load-report="{{ page.social_tracker.file }}"
  data-exclude-terms="{{ page.social_tracker.exclude_terms | join: " "  }}">
</script>

<!-- Google Analytics -->
{% if site.analytics == 'google' %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-88964808-1', 'auto');
    ga('send', 'pageview');
  </script>
{% endif %}
