<div id="services" class="services section-padding">
  <div class="container">
    <div class="row">
      {% if include.minimal %}
      <div class="section-title">
        <h2 class="wow fadeIn" data-wow-delay="0.25s">Servicios</h2>
        <span class="wow fadeIn" data-wow-delay="0.5s"></span>
      </div>
      {% else %}
      <div class="section-title">
        <p class="wow fadeIn"><small>{{ site.slogan }}</small></p>
        <h2 class="wow fadeIn" data-wow-delay="0.25s">Servicios</h2>
        <span class="wow fadeIn" data-wow-delay="0.5s"></span>
        <p class="wow fadeIn" data-wow-delay="0.75s">
          Segmente mejor a sus clientes, conosca mejor a su audiencia o mejore
          la experiencia de sus usuarios, con nuestros servicios procesamiento
          de texto y machine learning.
        </p>
      </div>
      {% endif %}

      <div class="col-md-4 col-sm-4 col-xs-12 no-padding">
        <div class="single_service wow fadeIn" data-wow-delay="0.25s">
          <i class="icofont icofont-ui-check"></i>
          <h4>Sentiment</h4>
          <p>
            Determine la polaridad contextual de un texto, comentario, tweet o noticia.
            <a href="{{ "/demo/text" | prepend: site.baseurl }}">
              Mas informaci&oacute;n
            </a>
          </p>
        </div>
      </div>
      <!--end column -->

      <div class="col-md-4 col-sm-4 col-xs-12 no-padding">
        <div class="single_service wow fadeIn" data-wow-delay="0.5s">
          <i class="icofont icofont-emo-laughing"></i>
          <h4>Emotions</h4>
          <p>Descubra emociones como la alegria, el enojo o la tristeza, contenidas en un texto.<p>
          <p>
            <a href="{{ "/demo/text" | prepend: site.baseurl }}">
              Mas informaci&oacute;n
            </a>
          </p>
        </div>
      </div>
      <!--end column -->

      <div class="col-md-4 col-sm-4 col-xs-12 no-padding">
        <div class="single_service wow fadeIn" data-wow-delay="0.75s">
          <i class="icofont icofont-birthday-cake"></i>
          <h4>AGE</h4>
          <p>Potente analizador de escritura capaz de determinar la edad del redactor del texto.</p>
          <p>
            <a href="{{ "/demo/text" | prepend: site.baseurl }}">
              Mas informaci&oacute;n
            </a>
          </p>
        </div>
      </div>
      <!--end column -->

      <div class="col-md-4 col-sm-4 col-xs-12 no-padding">
        <div class="single_service wow fadeIn" data-wow-delay="0.25s">
          <i class="icofont icofont-hand-drag2"></i>
          <h4>Recco</h4>
          <p>Mejore la experiencia de compras de sus clientes con nuestro algoritmo de recomendaci&oacute;n inteligente</p>
          <p>
            <a href="{{ "/demo/text" | prepend: site.baseurl }}">
              Mas informaci&oacute;n
            </a>
          </p>
        </div>
      </div>
      <!--end column -->

      <div class="col-md-4 col-sm-4 col-xs-12 no-padding">
        <div class="single_service wow fadeIn" data-wow-delay="0.5s">
          <i class="icofont icofont-dna-alt-2"></i>
          <h4>Gender Detection</h4>
          <p>Potente analizador de escritura capaz de determinar el genero del redactor del texto.</p>
          <p>
            <a href="{{ "/demo/text" | prepend: site.baseurl }}">
              Mas informaci&oacute;n
            </a>
          </p>
        </div>
      </div>
      <!--end column -->

      <div class="col-md-4 col-sm-4 col-xs-12 no-padding">
        <div class="single_service wow fadeIn" data-wow-delay="0.75s">
          <i class="icofont icofont-social-wechat"></i>
          <h4>Social Tracker</h4>
          <p>Toda nuestra tecnologia aplicada a las redes sociales, conosca su audiencia ahora.</p>
          <p>
            <a href="{{ "/demo/text" | prepend: site.baseurl }}">
              Mas informaci&oacute;n
            </a>
          </p>
        </div>
      </div>
      <!--end column -->
<!--
      <div class="col-md-4 col-sm-4 col-xs-12 no-padding">
        <div class="single_service wow fadeIn" data-wow-delay="0.75s">
          <i class="icofont icofont-robot"></i>
          <h4>automata</h4>
          <p>......</p>
          <p>
            <a href="{{ "/demo/text" | prepend: site.baseurl }}">
              Mas informaci&oacute;n
            </a>
          </p>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-xs-12 no-padding">
        <div class="single_service wow fadeIn" data-wow-delay="0.75s">
          <i class="icofont icofont-atom"></i>
          <h4>Graphs</h4>
          <p>......</p>
          <p>
            <a href="{{ "/demo/text" | prepend: site.baseurl }}">
              Mas informaci&oacute;n
            </a>
          </p>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-xs-12 no-padding">
        <div class="single_service wow fadeIn" data-wow-delay="0.75s">
          <i class="icofont icofont-sub-listing"></i>
          <h4>ImageTag</h4>
          <p>......</p>
          <p>
            <a href="{{ "/demo/text" | prepend: site.baseurl }}">
              Mas informaci&oacute;n
            </a>
          </p>
        </div>
      </div> -->
      <!--end column -->
    </div>
  </div>
</div>
