<div id="serivces" class="serivces section-padding">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <p class="wow fadeIn"><small>{{ site.slogan }}</small></p>
        <h2 class="wow fadeIn" data-wow-delay="0.25s">Nuestros Servicios</h2>
        <span class="wow fadeIn" data-wow-delay="0.5s"></span>
        <p class="wow fadeIn" data-wow-delay="0.75s">Lorem ipsum dolor sit amet consectetur adipisicing elitsed eiusmod tempor enim minim veniam quis notru exercit ation Lorem ipsum dolor sit amet.Veniam quis notru exercit.</p>
      </div>

      <div class="col-md-4 col-sm-4 col-xs-12 no-padding">
        <div class="single_service wow fadeIn" data-wow-delay="0.25s">
          <i class="icofont icofont-ui-check"></i>
          <h4>Sentiment</h4>
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
            <a href="{{ "/servicios/sentiment" | prepend: site.baseurl }}">
              Mas informaci&oacute;n
            </a>
          </p>
        </div>
      </div>
      <!--end column -->

      <div class="col-md-4 col-sm-4 col-xs-12 no-padding">
        <div class="single_service wow fadeIn" data-wow-delay="0.5s">
          <i class="icofont icofont-emo-laughing"></i>
          <h4>Emotions</h4>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
        </div>
      </div>
      <!--end column -->

      <div class="col-md-4 col-sm-4 col-xs-12 no-padding">
        <div class="single_service wow fadeIn" data-wow-delay="0.75s">
          <i class="icofont icofont-birthday-cake"></i>
          <h4>AGE</h4>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
        </div>
      </div>
      <!--end column -->

      <div class="col-md-4 col-sm-4 col-xs-12 no-padding">
        <div class="single_service wow fadeIn" data-wow-delay="0.25s">
          <i class="icofont icofont-hand-drag2"></i>
          <h4>Recco</h4>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
        </div>
      </div>
      <!--end column -->

      <div class="col-md-4 col-sm-4 col-xs-12 no-padding">
        <div class="single_service wow fadeIn" data-wow-delay="0.5s">
          <i class="icofont icofont-dna-alt-2"></i>
          <h4>Gender Detection</h4>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
        </div>
      </div>
      <!--end column -->

      <div class="col-md-4 col-sm-4 col-xs-12 no-padding">
        <div class="single_service wow fadeIn" data-wow-delay="0.75s">
          <i class="icofont icofont-social-wechat"></i>
          <h4>Social Tracker</h4>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
        </div>
      </div>
      <!--end column -->
    </div>
  </div>
</div>
