<!-- Slider -->
<div class="homepage-slides-wrapper">
  <div class="homepage-slides">
    <div class="single-slide-item slide-bg-1">
      <div class="slide-item-table">
        <div class="slide-item-tablecell">
          <div class="container">
            <div class="row">
              <div class="col-md-6 wow fadeIn">
                <!-- 1600 x 591 -->
                <p><small>01. Lorem ipsum dolor sit amet</small></p>
                <h2>Ravis is the most Targetted</h2>
                <p>We always try to bring the beautiful smile of our customers with our awesome works. lorem</p>
                <div class="action-btn">
                  <a class="btn btn-lg btn-explore smooth_scroll" href="#serivces">Explore</a>
                  <a class="btn btn-lg btn-about smooth_scroll" href="#team">About Us</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="single-slide-item slide-bg-2">
      <div class="slide-item-table">
        <div class="slide-item-tablecell">
          <div class="container">
            <div class="row">
              <div class="col-md-6 wow fadeIn">
                <p><small>02. Lorem ipsum dolor sit amet</small></p>
                <h2>Ravis is a best template in this planet</h2>
                <p>We always try to bring the beautiful smile of our customers with our awesome works.</p>
                <div class="action-btn">
                  <a class="btn btn-lg btn-explore smooth_scroll" href="#pricing">See Pricing</a>
                  <a class="btn btn-lg btn-about smooth_scroll" href="#contact">Contact Us</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Slider -->
