<!-- Slider -->
<div class="homepage-slides-wrapper">
  <div class="homepage-slides">
    <div class="single-slide-item slide-bg-2">
      <div class="slide-item-table">
        <div class="slide-item-tablecell">
          <div class="container">
            <div class="row">
              <div class="col-md-6 wow fadeIn">
                <!-- 1600 x 591 -->
                <p><small>Datos en Tiempo Real</small></p>
                <h2>Matrices de Aprendizaje Propias</h2>
                <p>Entrene sus datos con nuestra tecnologia para una clasificaci&oacute;n ajustada a sus necesidades.</p>
                <div class="action-btn">
                  <a class="btn btn-lg btn-explore smooth_scroll" href="#services">Servicios</a>
                  <a class="btn btn-lg btn-about" href="{{ "/about/" | prepend: site.baseurl }}">Nosotros</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="single-slide-item slide-bg-1">
      <div class="slide-item-table">
        <div class="slide-item-tablecell">
          <div class="container">
            <div class="row">
              <div class="col-md-6 wow fadeIn">
                <p><small>Logos como Sass &oacute; Appliance</small></p>
                <h2>Una sola API para todo</h2>
                <p>Integrar sus aplicaciones con nosotros es f&aacute;cil, mediante nuestra &uacute;nica api centralizada.</p>
                <div class="action-btn">
                  <a class="btn btn-lg btn-explore smooth_scroll" href="#pricing">Precios</a>
                  <a class="btn btn-lg btn-about smooth_scroll" href="#contact">Contacto</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Slider -->
