<div id="team" class="team section-padding">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <p class="wow fadeIn"><small>dedicados a marcar la diferencia</small></p>
        <h2 class="wow fadeIn" data-wow-delay="0.25s">Nuestro Equipo</h2>
        <span class="wow fadeIn" data-wow-delay="0.5s"></span>
        <p class="wow fadeIn" data-wow-delay="0.75s">
          Un equipo con muchos años de experiencia en el sector TI
          local e internacional, comprometidos con el &eacute;xito profesional
          y la inovaci&oacute;n tecnol&oacute;gica.
      </div>
      <div class="col-md-3 col-sm-6 wow fadeIn">
        <div class="single-member">
          <div class="member-image">
            <img src="assets/img/team/img_01.jpg" alt="">
            <div class="member-overlay">
              <div class="member-social">
                <div class="pos-vertical-center">
                  <a href="#"><i class="icofont icofont-social-facebook"></i></a>
                  <a href="#"><i class="icofont icofont-social-twitter"></i></a>
                  <a href="#"><i class="icofont icofont-social-google-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="member-info">
            <h3>Edgar Castañeda<span>I&plus;D</span></h3>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay="0.25s">
        <div class="single-member">
          <div class="member-image">
            <img src="assets/img/team/img_02.jpg" alt="">
            <div class="member-overlay">
              <div class="member-social">
                <div class="pos-vertical-center">
                  <a href="#"><i class="icofont icofont-social-facebook"></i></a>
                  <a href="#"><i class="icofont icofont-social-twitter"></i></a>
                  <a href="#"><i class="icofont icofont-social-google-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="member-info">
            <h3>Ernesto Qui&ntilde;ones<span>CEO</span></h3>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay="0.5s">
        <div class="single-member">
          <div class="member-image">
            <img src="assets/img/team/img_03.jpg" alt="">
            <div class="member-overlay">
              <div class="member-social">
                <div class="pos-vertical-center">
                  <a href="#"><i class="icofont icofont-social-facebook"></i></a>
                  <a href="#"><i class="icofont icofont-social-twitter"></i></a>
                  <a href="#"><i class="icofont icofont-social-google-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="member-info">
            <h3>Dana Quijandria<span>IOT Expert</span></h3>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay="0.75s">
        <div class="single-member">
          <div class="member-image">
            <img src="assets/img/team/img_04.jpg" alt="">
            <div class="member-overlay">
              <div class="member-social">
                <div class="pos-vertical-center">
                  <a href="#"><i class="icofont icofont-social-facebook"></i></a>
                  <a href="#"><i class="icofont icofont-social-twitter"></i></a>
                  <a href="#"><i class="icofont icofont-social-google-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="member-info">
            <h3>????<span>Sales Manager</span></h3>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
<!-- /Team -->
