<div id="team" class="team section-padding">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <p class="wow fadeIn"><small>Lorem ipsum dolor sit amet</small></p>
        <h2 class="wow fadeIn" data-wow-delay="0.25s">Nuestro Equipo</h2>
        <span class="wow fadeIn" data-wow-delay="0.5s"></span>
        <p class="wow fadeIn" data-wow-delay="0.75s">Lorem ipsum dolor sit amet consectetur adipisicing elitsed eiusmod tempor enim minim veniam quis notru exercit ation Lorem ipsum dolor sit amet.Veniam quis notru exercit.</p>
      </div>
      <div class="col-md-3 col-sm-6 wow fadeIn">
        <div class="single-member">
          <div class="member-image">
            <img src="assets/img/team/img_01.jpg" alt="">
            <div class="member-overlay">
              <div class="member-social">
                <div class="pos-vertical-center">
                  <a href="#"><i class="icofont icofont-social-facebook"></i></a>
                  <a href="#"><i class="icofont icofont-social-twitter"></i></a>
                  <a href="#"><i class="icofont icofont-social-google-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="member-info">
            <h3>Edgar Castañeda<span>SENIOR DEVELOPER</span></h3>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay="0.25s">
        <div class="single-member">
          <div class="member-image">
            <img src="assets/img/team/img_02.jpg" alt="">
            <div class="member-overlay">
              <div class="member-social">
                <div class="pos-vertical-center">
                  <a href="#"><i class="icofont icofont-social-facebook"></i></a>
                  <a href="#"><i class="icofont icofont-social-twitter"></i></a>
                  <a href="#"><i class="icofont icofont-social-google-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="member-info">
            <h3>Zonayed Ahmed<span>Senior Developer</span></h3>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay="0.5s">
        <div class="single-member">
          <div class="member-image">
            <img src="assets/img/team/img_03.jpg" alt="">
            <div class="member-overlay">
              <div class="member-social">
                <div class="pos-vertical-center">
                  <a href="#"><i class="icofont icofont-social-facebook"></i></a>
                  <a href="#"><i class="icofont icofont-social-twitter"></i></a>
                  <a href="#"><i class="icofont icofont-social-google-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="member-info">
            <h3>Mahmud Reduan<span>Senior Developer</span></h3>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay="0.75s">
        <div class="single-member">
          <div class="member-image">
            <img src="assets/img/team/img_04.jpg" alt="">
            <div class="member-overlay">
              <div class="member-social">
                <div class="pos-vertical-center">
                  <a href="#"><i class="icofont icofont-social-facebook"></i></a>
                  <a href="#"><i class="icofont icofont-social-twitter"></i></a>
                  <a href="#"><i class="icofont icofont-social-google-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="member-info">
            <h3>Jarin Akther<span>Graphics Designer</span></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Team -->
