<div class="testimonials section-padding">
  <div class="container">
    <div class="row">
      <!-- BG Image 2736 x 1824 -->
      <div class="section-title section-title-white">
        <p class="wow fadeIn"><small>Lorem ipsum dolor sit amet</small></p>
        <h2 class="wow fadeIn" data-wow-delay="0.25s">What Clients Say</h2>
        <span class="wow fadeIn" data-wow-delay="0.5s"></span>
        <p class="wow fadeIn" data-wow-delay="0.75s">Lorem ipsum dolor sit amet consectetur adipisicing elitsed eiusmod tempor enim minim veniam quis notru exercit ation Lorem ipsum dolor sit amet.Veniam quis notru exercit.</p>
      </div>

      <!-- clients carousel -->
      <div class="col-md-offset-1 col-md-10 col-sm-offset-0 col-sm-12">
        <div class="client-say text-center">

          <span class="icon-quote"></span>

          <div class="owl-carousel owl-theme">

            <!-- client item -->
            <div class="client-item text-center wow fadeIn">
              <p>Phasellus luctus commodo ullamcorper a posuere rhoncus commodo elit. Aenean congue, risus utaliquam dapibus. Thanks!.</p>
              <img src="assets/img/testi/1.jpg" alt="client-1">
              <h6 class="ctit">John Doe</h6>
              <h5>Google Inc</h5>
            </div>

            <!-- client item -->
            <div class="client-item text-center wow fadeIn">
              <p>Phasellus luctus commodo ullamcorper a posuere rhoncus commodo elit. Aenean congue, risus utaliquam dapibus. Thanks!.</p>
              <img src="assets/img/testi/1.jpg" alt="client-1">
              <h6 class="ctit">John Doe</h6>
              <h5>Google Inc</h5>
            </div>

            <!-- client item -->
            <div class="client-item text-center wow fadeIn">
              <p>Phasellus luctus commodo ullamcorper a posuere rhoncus commodo elit. Aenean congue, risus utaliquam dapibus. Thanks!.</p>
              <img src="assets/img/testi/1.jpg" alt="client-1">
              <h6 class="ctit">John Doe</h6>
              <h5>Google Inc</h5>
            </div>

            <!-- client item -->
            <div class="client-item text-center wow fadeIn">
              <p>Phasellus luctus commodo ullamcorper a posuere rhoncus commodo elit. Aenean congue, risus utaliquam dapibus. Thanks!.</p>
              <img src="assets/img/testi/1.jpg" alt="client-1">
              <h6 class="ctit">John Doe</h6>
              <h5>Google Inc</h5>
            </div>

            <!-- client item -->
            <div class="client-item text-center wow fadeIn">
              <p>Phasellus luctus commodo ullamcorper a posuere rhoncus commodo elit. Aenean congue, risus utaliquam dapibus. Thanks!.</p>
              <img src="assets/img/testi/1.jpg" alt="client-1">
              <h6 class="ctit">John Doe</h6>
              <h5>Google Inc</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Testimonials -->
