---
layout: services
---

<div id="blog" class="blog">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2 class="wow fadeIn" data-wow-delay="0.25s">Blog</h2>
        <span class="wow fadeIn" data-wow-delay="0.5s"></span>
        <p class="wow fadeIn" data-wow-delay="0.75s">
          Infograf&iacute;as construidas con nuestros servicios, novedades y noticias del mundo de la informática.
        </p>
      </div>

      {% for post in paginator.posts %}
        <div class="col-md-4 wow fadeIn">
          <div class="single-blog">
            <div class="blog-img">
              <!-- 450 x 300 -->
              <img src="{{ "/assets/img/blog/" | append: post.image | prepend: site.baseurl }}" alt="">
            </div>
            <div class="blog-content">
              <h3 class="blog-title">
                <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </h3>
              <div class="blog-meta">
                <p><i class="icofont icofont-clock-time"></i> <small>{{ post.date | date: "%b %-d, %Y" }}</small></p>
              </div>
              <p>{{ post.excerpt }}</p>
            </div>
          </div>
        </div>
      {% endfor %}

    </div>


    {% if paginator.total_pages > 1 %}
      <nav aria-label="Page navigation" class="align_center">
        <ul class="pagination">
          {% if paginator.previous_page %}
          <li>
            <a aria-label="Previous" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          {% else %}
            <li>
              <span aria-hidden="true">&laquo;</span>
            </li>
          {% endif %}

          {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
              <li class="active">
                <span>{{ page }}</span>
              </li>
            {% elsif page == 1 %}
            <li>
              <span>
                <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
              </span>
            </li>
            {% else %}
              <li>
                <span>
                  <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
                </span>
              </li>
            {% endif %}
          {% endfor %}

          {% if paginator.next_page %}
            <li>
              <span>
                <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&raquo;</a>
              </span>
            </li>
          {% else %}
            <li>
              <span aria-hidden="true">&raquo;</span>
            </li>
          {% endif %}
        </ul>
      </nav>
      {% endif %}
    </div>
  </div>
</div>
<!-- /Blog -->
