---
layout: services
---

<div id="blog" class="blog">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <p class="wow fadeIn"><small>Siempre Actualizados</small></p>
        <h2 class="wow fadeIn" data-wow-delay="0.25s">Blog</h2>
        <span class="wow fadeIn" data-wow-delay="0.5s"></span>
        <p class="wow fadeIn" data-wow-delay="0.75s">
          Infograf&iacute;as construidas con nuestros servicios, novedades y noticias del mundo de la informática.
        </p>
      </div>

      {% for post in paginator.posts %}
        <div class="col-md-4 wow fadeIn">
          <div class="single-blog">
            <div class="blog-img">
              <!-- 450 x 300 -->
              <img src="{{ "/assets/img/blog/" | append: post.image | prepend: site.baseurl }}" alt="">
            </div>
            <div class="blog-content">
              <h3 class="blog-title">
                <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </h3>
              <div class="blog-meta">
                <p><i class="icofont icofont-clock-time"></i> <small>{{ post.date | date: "%b %-d, %Y" }}</small></p>
              </div>
              <p>{{ post.excerpt }}</p>
            </div>
          </div>
        </div>
      {% endfor %}

    </div>

    <div class="row">

      {% if paginator.total_pages > 1 %}
      <div class="pagination">
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
        {% else %}
          <span>&laquo; Prev</span>
        {% endif %}

        {% for page in (1..paginator.total_pages) %}
          {% if page == paginator.page %}
            <em>{{ page }}</em>
          {% elsif page == 1 %}
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
          {% else %}
            <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
          {% endif %}
        {% endfor %}

        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
        {% else %}
          <span>Next &raquo;</span>
        {% endif %}
      </div>
      {% endif %}

    </div>

  </div>
</div>
<!-- /Blog -->
