<!DOCTYPE html>
<html lang="es-ES">
  {% include head.html %}
  <body>
    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Header -->
    {% include header.html %}

    <!-- Slider -->
    {% include slider.html %}

    <!-- Services -->
    {% include services.html %}

    <!-- Pricing -->
    {% include pricing.html %}

    <!-- Portfolio -->
    <!-- include portafolio.html -->

    <!-- Team -->
    {% include team.html %}

    <!-- Testimonials -->
    <!-- include testimonials.html -->

    <!-- Blog -->
    {% include last_posts.html %}

    <!-- Partners -->
    {% comment %}
    {% include partners.html %}
    {% endcomment %}

    <!-- Contact -->
    {% include contact.html %}

    <!-- Footer -->
    {% include footer.html %}

    <!-- Scripts -->
    {% include scripts.html %}

  </body>
</html>
