<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Header -->
    {% include header.html %}

    <!-- Navbar -->
    {% include nav_blog.html %}

    {{ content }}

    <!-- Services -->
    {% include services.html minimal=true %}

    <!-- Pricing -->
    {% include pricing.html %}

    <!-- Contact -->
    {% include contact.html %}

    <!-- Footer -->
    {% include footer.html %}

    <!-- Scripts -->
    {% include scripts.html %}

  </body>
</html>
